[user]
  email = {{ .email }}
  name = Jean-Francois Pambrun

[core]
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX

[credential]
  helper = store

[merge]
  tool = meld

[color]
  status = auto
  branch = auto
  diff = auto
  interactive = auto

[alias]
  st = status
  ci = commit -v
  br = branch
  co = checkout
  df = diff
  lg  = log --color --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep \"^S\"
[push]
	default = simple
[credential]
	helper = store
[diff "image"]
	command = ~/bin/git-imgdiff

[url "https://github.com/"]
    insteadOf = "gh:"

[pager]
    difftool = true
[diff]
    tool = icdiff
[difftool "icdiff"]
    prompt = false
    cmd = icdiff --head=5000 --highlight --line-numbers -L \"$BASE\" -L \"$REMOTE\" \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
